  
  


  .pageTitle{
    padding-top:2.5rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 1000px;
    text-align: center;
    font-size: 4rem;
    margin-bottom: 2rem;
    color: whitesmoke;
}