
  .headerBar {
    display: flex;
    height: 240px;
    background: #000000;
    color: #000000;
}

.headerLogo {
    height: 160px;
    width: 250px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000000;
    color: #000000;
}
  
  .headerSelectors {
    flex-grow: flex-start;
    background: #000000;
    justify-content: flex-start;
    align-content: flex-start;
  }

  .headerSearch {
    margin-top: 20px;
    margin-right: 30px;
    flex-grow: flex-start;
    background: #000000;
    justify-content: flex-start;
    align-content: flex-start;
  }

  .headerExLogo{
    flex-grow: 1;
    background: #000000;
  }

  .ant-select{
    flex-grow: 0;
    position: static;
    max-width: 200px;
    width: 150px;
    left: 25%;
    margin: 0 auto;
  }
  
  .ant-picker {
    flex-grow: 0;
    position: static;
    max-width: 450px;
    width: 30%;
    left: 28%;
    margin: 0 auto;
    
  }

  #submitVideoSearch {
    display: flex;
    width: 150px;
    height: 45px;
    border-radius: 10px;
    background: #F61212;
    outline: #FFF;
    color: #FFF;
    font-size: 1.4rem;
    border: 0.5rem solid;
    border-color: #C02727; 
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  #countrySelector {
    width: 50px;
  }

  .videoTitleSearch {
    width: 100%;
    text-align: right;
    padding-right: 15px;
    color: whitesmoke;
  }

.channelTitleSearch {
  width: 100%;
  text-align: right;
  padding-right: 15px;
  color: whitesmoke;
}

#channelTitleInput{
  width: 270px;
}


.categorySearch{
  width: 100%;
  text-align: right;
  padding-right: 15px;
  color: whitesmoke;
}

.countryLabel{
  width: 100%;
  text-align: right;
  color: whitesmoke;
  margin-left: 30px;
}

#countrySelectCol {
  display: block;
    flex: 0 0 62.5%;
    max-width: 62.5%;
}

.selectTrendingDates{
  width: 100%;
  text-align: right;
  margin-right: 0.5rem;
  color: whitesmoke;
}

#trendDateSelectCol {
  
}

.ant-input {
  display: inline-block;
  width: 200px;
}

.ant-picker {
  margin-left: 20px;
  width: 270px;
}

.ant-picker-input {
  font-size: 10px;
  width: 100px;
}

.ant-picker-separator {
  margin-left: 1px;
  width: 1px;
  padding: 0 1px;
}

.selectPublishDates {
  width: 100%;
  text-align: right;
  margin-right: 0.5rem;
  color: whitesmoke;
}

#publishDatePicker {
  margin-right: 10px
}

.likesLabel{
  width: 100%;
  text-align: center;
  margin-left: 18px;
  color: whitesmoke;
}

.dislikesLabel{
  width: 100%;
  text-align: center;
  margin-left: 18px;
  color: whitesmoke;
}

.viewsLabel{
  width: 100%;
  text-align: center;
  margin-left: 18px;
  color: whitesmoke;
}

.commentsLabel{
  width: 100%;
  text-align: center;
  margin-left: 5px;
  color: whitesmoke;
}

.ant-slider{
  width: 150px;
}

#likesSlider{
  margin-left: 10px;
}

#librarySlider{
  margin-left: 10px;
}


.categorySearchLabel{
  width: 100%;
  text-align: center;
  margin-left: 5px;
  color: whitesmoke;
}

.channelSubscribersLabel{
  width: 100%;
  text-align: center;
  margin-left: 20px;
  color: whitesmoke;
}

.channelLibraryLabel{
  width: 100%;
  text-align: center;
  margin-left: 20px;
  color: whitesmoke;
}

.channelLanguageLabel{
  width: 100%;
  text-align: center;
  margin-left: 25px;
  color: whitesmoke;
}

.submitSearch{
  display: flex;
  vertical-align: top;
  justify-content: center;
}

#searchIcon {
  width: 25px;
  height: 25px;
}

#autocompleteInput {
  
}

.MuiAutocomplete-root{
  margin: 0;
  padding: 0;
  min-width: 0;
  color: rgba(0, 0, 0, 0.85);
  background-color: #fff;
  border: 1px solid #d9d9d9;
  width: 100px;
  height: 35px;
}

.fieldset {
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-block-start: 0.01em;
  padding-inline-start: 0.01em;
  padding-inline-end: 0.01em;
  padding-block-end: 0.01em;
  min-inline-size: min-content;
  border-width: 0px;
  border-style: groove;
  border-color: rgb(192, 192, 192);
  border-image: initial;
  height: 5px
}


#autoCompleteInput {
  box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-variant: tabular-nums;
    list-style: none;
    font-feature-settings: 'tnum', "tnum";
    position: relative;
    display: inline-block;
    width: 100%;
    min-width: 0;
    padding: 4px 11px;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    line-height: 1.5715;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    height: 1.0rem;
}

#combo-box-demo{
  height: 20px;
}

.MuiAutocomplete-inputRoot {
  flex-wrap: nowrap !important;
}

.MuiInputBase-root {
  height: 35px;
}

.MuiFormLabel-root{
  height: 35px;
}

.MuiFormLabel-root .label{
  margin-bottom: 10px;
}

#combo-box-demo-label {
  padding-bottom: 10px;
}


