
  .headerBar {
    display: flex;
    height: 180px;
  }
  
  .headerLogo {
    height: 160px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000000;
    color: #000000;
  }
  
  .headerSelectors {
    flex-grow: flex-start;
    background: #000000;
    justify-content: flex-start;
    align-content: flex-start;
  }

  .headerSearch {
    margin-top: 20px;
    margin-right: 30px;
    flex-grow: flex-start;
    background: #000000;
    justify-content: flex-start;
    align-content: flex-start;
  }

  .headerExLogo{
    flex-grow: 1;
    background: #000000;
  }

  .ant-select{
    flex-grow: 0;
    position: static;
    max-width: 200px;
    width: 30%;
    left: 25%;
    margin: 0 auto;
    
  }

  .ant-picker {
    flex-grow: 0;
    position: static;
    max-width: 450px;
    width: 30%;
    left: 28%;
    margin: 0 auto;
    
  }

  #submitVideoSearch {
    width: 150px;
    border-radius: 10px;
  }

  #countrySelector {
    width: 50px;
  }

  .videoTitleSearch {
    width: 100%;
    text-align: right;
    padding-right: 0.5rem;
    color: whitesmoke;
  }

.channelTitleSearch {
  width: 100%;
  text-align: right;
  padding-right: 0.5rem;
  color: whitesmoke;
}

.tagSearch{
  width: 100%;
  text-align: right;
  padding-right: 0.5rem;
  color: whitesmoke;
}

.countryLabel{
  width: 100%;
  text-align: right;
  color: whitesmoke;
  margin-left: 30px;
}

.ant-select {
  width: 150px;
  margin-left: 0px;
  margin-right: 30px;
}

#countrySelectCol {
  display: block;
    flex: 0 0 62.5%;
    max-width: 62.5%;
}

.selectTrendingDates{
  width: 100%;
  text-align: right;
  padding-right: 0.5rem;
  color: whitesmoke;
}

#trendDateSelectCol {
  padding-right: 200px;
}

.ant-picker {
  margin-left: 0px;
  width: 270px;
}

.ant-picker-input {
  font-size: 10px;
  width: 100px;
}

.ant-picker-separator {
  margin-left: 1px;
  width: 1px;
  padding: 0 1px;
}

.selectPublishDates {
  width: 100%;
  text-align: right;
  padding-right: 0.5rem;
  color: whitesmoke;
}

#publishDatePicker {
  padding-right: 280px
}

