.nav-item {
    align-items: center;
    justify-content: center;
    background-color: #000000;
    border-radius: 16px;
    display: flex;
    gap: 12px;
    height: 60px;
    margin-left: 18px;
    margin-right: 18px;
    margin-top: 20px;
    overflow: hidden;
    padding: 10.67px 21.33px;
    border-style: solid;
  }
  
  .view-grid {
    margin-left: 6.67px;
    height: 32px;
    min-width: 32px;
    align-items: center;
    justify-content: center;
  }
  
  .text {
    flex: 1;
    letter-spacing: 0;
    line-height: 26.7px;
    font-family: sans-serif;
  }
  
  