.header-logo {
    padding:5px ;

}

.header-labels {
    font-size: 18pt;
    font-family: sans-serif;
    color: azure;
    align-items: center;
    justify-content: center;
}

a.menuItem{
    font-size: 18pt;
    font-family: sans-serif;
    color: azure;
    align-items: center;
    justify-content: center;
}

.sideMenuBar {
    width: 250px;
    background: #000000;
    height: 1200px;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
