.videoCard{
    height: 441px;
    border-radius: 0 0 1rem 0;
}


.trendingVideoNameSection{
    background-color: rgb(38, 38, 38);
    /* border-radius: 0 0 0.9rem 0; */
    height:30%;
    width: 100%;
}

.videoTitleSection {
    color: whitesmoke;
    font-weight: bold;
    width: 100%;
    margin-bottom: 1.5rem;
}

.videoTitle {
    margin-top: 0.5rem;
    word-wrap: normal;
    color: whitesmoke;
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.videoData{
    padding:0.5rem;
    color:whitesmoke;
    text-align: center;
}

.videoDataCountries{
    padding:1rem;
    color:whitesmoke;
    text-align: center;
}

.videoDataTitle{
    color:#D6D5A8;
    font-size: 1.5rem;
}


.videoThumbnailSection0{
    background-image: linear-gradient(rgb(38, 38, 38), #8B9A46);
    border-radius: 0rem 0rem 0.8rem 0rem;
    height:70%;
}

.videoThumbnailSection1{
    background-image: linear-gradient(rgb(38, 38, 38), #816797);
    border-radius: 0rem 0rem 0.8rem 0rem;
    height:70%;
}

.videoThumbnailSection2{
    background-image: linear-gradient(rgb(38, 38, 38), #A13333);
    border-radius: 0rem 0rem 0.8rem 0rem;
    height:70%;
}

.videoThumbnailSection3{
    background-image: linear-gradient(rgb(38, 38, 38), #1597BB);
    border-radius: 0rem 0rem 0.8rem 0rem;
    height:70%;
}

.videoThumbnailSection4{
    background-image: linear-gradient(rgb(38, 38, 38), #EC994B);
    border-radius: 0rem 0rem 0.8rem 0rem;
    height:70%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
  }

  .videoTile{
    width: 535px;
    height:300px;
    object-fit: cover;
    border-radius: 0rem 0rem 0.8rem 0rem;
    border: 3px solid #D6D5A8;
    /* display: block; */
  }