  #headerBar {
    display: flex;
  }
  
  #headerLogo {
    height: 120px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #8fc0a9;
    color: #8fc0a9;
  }
  
  #headerContent {
    flex-grow: 1;
    background: #c8d5b9;
  }
  
  #page {
    display: flex;
    height: calc( 100vh - 30px);
  }
  
  #sideBar {
    width: 200px;
    background: #8fc0a9;
    height: 700px;
  }
  
  #pageContent {
    background: #70c1b3;
    flex: 1 0 auto;
    height: 700px;
    /* enable grow, disable shrink */
  }