@import '~antd/dist/antd.dark.css';

.rootWrapper{
    background-color: #1B2430;
    margin: 0rem;
    padding: 0rem;
    height:1500px;
    overflow: hidden;
    /* border: 4px solid red; */
}

div.page{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(black, #1B2430);
    display: flex;
    height: 100%
} 

.pageContent{
    margin-bottom: 0rem;
    padding-left: 3rem;
    padding-right: 3rem;
    max-width:1000px
}

.pageTitle{
    padding-top:3rem;
    /* border: 2px solid red; */
    text-align: center;
    margin-bottom: 3rem;
    color: whitesmoke;
}

.searchMenu{
   width: 1000px;
}

.titleSearchName{
    width: 100%;
    text-align: center;
    padding-right: 0.5rem;
    color: whitesmoke;
}

.titleSearchBox{

}

Table{
    background-image: linear-gradient(to bottom,#2d2d2d, #1c1c1c);
    border: 4px solid rgb(138, 138, 138);
    /* width:1000px; */
}

.ant-table {
    background: #1B2430;
}

.tableContainer{
    width: 1000px;

}

.selectedChannelName{
    width: 1000px;
    text-align: center;
    color: whitesmoke;

}

.selectedContainer{
    width: 1000px;
    height: 500px;
    /* aspect-ratio: 2/1; */
    border-radius: 1rem;
    margin-bottom: 10rem;
}

.recentTrendingContainer{
    background-color: #1B2430;
    border-radius: 0rem 1rem 1rem 0rem;
    margin-right: 0;
    border-top:6px solid black;
    border-right:6px solid black;
    border-bottom:6px solid black;
}

.channelStats{
    background-color: black;
    border-radius: 1rem 0rem 0rem 1rem;
    border-left: 4px solid black;
    border-top:4px solid black;
    border-right:4px solid black;
    border-bottom:4px solid black;
    padding: .5rem 2rem;
}

.statTopTitle{
    padding: 0rem;
    font-weight: bold;
    font-size: 2rem;
    margin: 0.5rem 0.2rem;
    color: whitesmoke;
}

.statSectionTitle {
    color: whitesmoke;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.statTitle{
    padding: 0rem;
    padding-bottom: 0.5rem;
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.1rem;
    margin: -0.5rem 0.2rem;
    color: whitesmoke;
}

.statText{
    color: whitesmoke;
}

.trendingVideoSectionTitle{
    background-color: rgb(38, 38, 38);
    border-radius: 0rem 0.5rem 0rem 0rem;
    height:15%;
    align-items: center;
    justify-items: center;
}

.trendingTopTitle{
    padding: 0rem;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    margin: 0.5rem 0.2rem;
    color: #D6D5A8;
}

.carouselSection{
    height: 85%;
    /* border: 3px solid green; */
}

.carousel{
    width:100%;
    height:100%;
    /* border: 5px solid blue; */
}

.singleTrendingVideo{
    width:800px;
    border: 2px solid red;
}

.noRecentTrends{
    background-image: linear-gradient(rgb(38, 38, 38), #8B9A46);
    border-radius: 0rem 0rem 0.8rem 0rem;
    height:85%;
    align-items: center;
}

.noRecentTrendsText{
    width: 100%;
    text-align: center;
}
/* .videoCard{
    height: 100%;
    border: 2px solid lime;
} */

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
  }



.cardDivider {
    padding: 0rem;
    margin: 1rem 0rem;
    border: 1px solid whitesmoke;
}

.cardDividerBottom {
    padding: 0rem;
    margin: 1rem 0rem 0rem 0rem;
    border: 1px solid whitesmoke;
}


.negGrowth{
    color: #E34613;
    margin:0;
    padding: 0;
    margin-bottom: -.5rem;
}

.posGrowth{
    color: #B0E313;
    margin-bottom: -.5rem;
}