.cardText {
    color: whitesmoke;
    margin-top: .2rem;
    margin-bottom: 0;
}

.cardDivider {
    padding: 0rem;
    margin: 1rem 0rem;
    border: 1px solid whitesmoke;
}

.cardTopTitle{
    padding: 0rem;
    font-weight: bold;
    font-size: 2rem;
    margin: -0.5rem 0.2rem;
    color: whitesmoke;
}

.cardTitle{
    padding: 0rem;
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.1rem;
    margin: -0.5rem 0.2rem;
    color: whitesmoke;
    /* border: 1px solid red; */
}

.negGrowth{
    color: #E34613;
    margin-bottom: -.5rem;
}

.posGrowth{
    color: #B0E313;
    margin-bottom: -.5rem;
}