  
#page {
    display: flex;
    height: 1000px;
    overflow: visible;
  }

.outerDiv{
  height: 1800px;
  overflow: auto;
  background: #000000;
  margin:0rem;
  padding:0rem;
  
}


  #pageContent {
    background: #000000;
    flex-grow: 1;
    height: 1000px;
    /* enable grow, disable shrink */
  }

#sideBar {
  justify-content: flex-start;
}
