.videoInfo {
    justify-content: center;
    background: #000000;
    flex-grow: 1;
    height: 1200px;
}
div > h2 {
    color: #ffffff;
    text-decoration: underline; 
}
div > h5 {
    color: #ffffff;
}

#videoFrame{
    border-radius: 20px;
}

#page {
    display: flex;
    height: calc( 100vh - 30px);
  }


.headerBar {
    display: flex;
    height: 200px;
    background: #000000;
    color: #000000;
}

.headerLogo {
    height: 160px;
    width: 250px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000000;
    color: #000000;
}

#videoPageTitle{
    padding-top:5.5rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 1000px;
    text-align: center;
    font-size: 4rem;
    margin-bottom: 2rem;
    color: #F61212;
  }

  .likes{
    /* justify-content: center;
    background: #000000;
    flex-grow: 1;
    height: 1200px; */
    margin-left: 700px;
    margin-top: -100px;
}

.trending {
    margin-left: 0px;
    margin-top: 30px;
}

.description {
    margin-left: 700px;
    margin-top: -350px;
}

.info1 {
    margin-left: 650px;
    margin-top: -300px;
    
}

.info2 {
    margin-top: 80px;
}


#videoFrame{
    border-radius: 20px;
}

#page {
    display: flex;
    height: calc( 100vh - 30px);
  }

/* .VideoInfoArea {
    position: absolute;
      left: 950px;
      top: 200px;
      width: 420px;
      height: 500px;
      margin: 0 auto;
      border-radius: 30px;
      background-color: #ee4444;
      opacity: 0.6; 
    border-color: rgb(231, 44, 44);
    box-shadow: none;
  } */


