.videoInfo {
    justify-content: center;
    background: rgba(255, 255, 255, 0.849);
    flex-grow: 1;
    height: 1200px;
    
}

#videoFrame{
    border-radius: 20px;
}

#page {
    display: flex;
    height: calc( 100vh - 30px);
  }
