.videoInfo {
    justify-content: center;
    background: #000000;
    flex-grow: 1;
    height: 1200px;
}
div > h2 {
    color: #ffffff;
    text-decoration: underline; 
}
div > h5 {
    color: #ffffff;
}

#videoFrame{
    border-radius: 20px;
}

#page {
    display: flex;
    height: calc( 100vh - 30px);
  }
