.browsing-button {
  background-color: var(--summer-green);
  border-radius: 13332px;
  height: 45.33px;
  margin-bottom: -1.33px;
  margin-left: -1.33px;
  margin-top: -1.33px;
  min-width: 45.33px;
}

