:root { 
  --amazon: #4a7c59;
  --black: #000000;
  --hint-of-red: #f9f9f9;
  --pale-sky: #6b7280;
  --pearl-lusta: #faf3dd;
  --summer-green: #8fc0a9;
 
  --font-size-l: 16.5px;
  --font-size-m: 16px;
  --font-size-xl: 18.7px;
  --font-size-xxl: 38px;
  --font-size-xxxl: 46px;
 
  --font-family-helveticaneuecyr-bold: "HelveticaNeueCyr-Bold", Helvetica;
  --font-family-inter: "Inter", Helvetica;
  --font-family-sf_pro_display-bold: "SF Pro Display-Bold", Helvetica;
}
.sfprodisplay-bold-hint-of-red-16px {
  color: var(--hint-of-red);
  font-family: var(--font-family-sf_pro_display-bold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.sfprodisplay-bold-pale-sky-16px {
  color: var(--pale-sky);
  font-family: var(--font-family-sf_pro_display-bold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.inter-medium-pearl-lusta-18-7px {
  color: var(--pearl-lusta);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 500;
}

.border-1px-black {
  border: 1px solid var(--black);
}

.border-1-3px-amazon {
  border: 1.3px solid var(--amazon);
}
