.browsing-button-1 {
  background-color: var(--summer-green);
  border-radius: 13332px;
  height: 45.33px;
  margin-bottom: -1.33px;
  margin-right: -1.33px;
  margin-top: -1.33px;
  min-width: 45.33px;
  overflow: hidden;
  position: relative;
}

.chevron-right {
  height: 29px;
  left: 6px;
  position: absolute;
  top: 6px;
  width: 29px;
}

